@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: open sans, sans-serif;
}

/* fonts for headings and logo */
h1, h2, h3, #logo{
    font-family: indie flower, sans-serif;
    letter-spacing: 4px;

}

#logo {
    font-size: 350%;
    line-height: 75px;
    padding-left: 10px;
    color: #22793c;
}

/* menu items */
#menu {
    line-height: 75px;
    float: right;
    font-size: 110%;
    color: #797979
}

#menu li {
    list-style-type: none;
    float: left;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    color: #22793c;
    font-weight: 700;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%b;
    background: url(../images/hero-image.webp) no-repeat center center;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}