@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: open sans, sans-serif;
}

/* fonts for headings and logo */
h1, h2, h3, #logo{
    font-family: indie flower, sans-serif;
    letter-spacing: 4px;

}

#logo {
    font-size: 350%;
    line-height: 75px;
    padding-left: 20px;
    color: #22793c;
}

/* menu items */
#menu {
    line-height: 75px;
    float: right;
    font-size: 110%;
    color: #797979
}

#menu li {
    list-style-type: none;
    float: left;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    color: #22793c;
    font-weight: 700;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%b;
    background: url(../images/hero-image.webp) no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forewards;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* hero image zoom */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* cover text */

#cover-text, #cover-text h2 {
    color: #fff;
}

#cover-text {
    background-color: rgba(58, 175, 74, 0.7);
    font-size: 150%;
    text-transform: uppercase;
    padding: 30px 0 0 10px;
    bottom: 30px;
    right: 150px;
    position: absolute;
    width: 300px;
    height: 200px;
}

/* ethos area */

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#center-about {
    width: 33%;
    background: rgb(181, 204, 160);
    margin: 0 auto;
}
#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

hr {
    border-top: solid 1px silver;
    margin: 5px 0;
    width: 100%;
}

.left-about-header {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-header {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}